.new-post-container {
    background-color: rgb(210, 220, 219);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
}

.new-post-container .form-container {
    width: 80%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-post-container input,
.new-post-container .new-post-content {
    width: 100%;
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}


.new-post-container input:focus,
.new-post-container .new-post-content:focus {
    outline: none;
    box-shadow: 0 0 5px 1px black;
}

.new-post-container button {
    padding: 15px;
    border-radius: 10px;
    background: black;
    border: none;
    color: white;
}

.new-post-container button:hover {
    box-shadow: 0 0 2px 0px white;
}

@media (max-width:768px) {
    .new-post-container {
        padding: 10px;
    }

    .new-post-container .form-container {
        width: 100%;
        padding: 0 10px;
    }

    .new-post-container input,
    .new-post-container textarea {
        width: 100%;
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
        font-size: medium;
    }

    .new-post-container button {
        padding: 8px;
        border-radius: 5px;
    }
}