.posts-container {
  background-color: rgb(210, 220, 219);
  padding: 20px;
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

@media (max-width: 768px) {
  .posts-container {
    padding: 5px;
    grid-template-columns: auto;
  }
}