.post-comment-wrapper {
  padding: 20px;
  background: rgb(150, 200, 250);
  margin: 10px 0;
  border-radius: 30px;
  overflow: hidden;
}

.post-comment-wrapper:first-of-type {
  margin-top: 0px;
}


.post-comment-wrapper:last-of-type {
  margin-bottom: 0;
}

.post-comment-wrapper .delete-post {
  margin: 10px;
}

.fav-container {
  display: flex;
  justify-content: end;
}

.fav {
  display: flex;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
  margin-bottom: 5px;
}

.fav * {
  margin: 5px;
}



.post-container {
  background-color: white;
  padding: 15px;
}

.post-title {
  background: linear-gradient(174deg, black 00%, gray 100%);
  color: white;
  font-size: larger;
  padding: 10px;
  margin: 0;
}

.post-content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}

.comment-container {
  margin-top: 5px;
}

.author-container {
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.author-container * {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.6;
  padding: 0 5px;
}


.post-buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.comment-controller {
  width: 120px;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  background: seagreen;
  color: white;
}

.comment-controller:hover {
  background: darkgreen;
  box-shadow: 0 0 2px 2px white;
}

.action-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.icon-count-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-count-wrapper * {
  font-size: 20px;
  margin: 0 1px;
}

.icon {
  font-size: 20px;
  color: white;
}

.icon:hover {
  transform: scale(1.2);
}


@media (max-width: 768px) {
  .post-comment-wrapper {
    padding: 10px;
    margin: 5px 0;
    border-radius: 15px;
  }

  .post-comment-wrapper .delete-post {
    margin: 5px;
  }

  .post-container {
    padding: 10px;
  }

  .post-title {
    padding-left: 5px;
    font-size: large;
  }

  .post-content {
    font-size: large;
  }

  .comment-controller {
    padding: 5px;
    border-radius: 5px;
  }

  .comment-controller:hover {
    box-shadow: 0 0 1px 1px white;
  }


}