.content-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.navbar {
  padding: 10px;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  border-radius: 10px 10px 0 0;
}
.navbar-brand {
  font-weight: bold;
  color: white;
  background: rgb(3, 126, 58);
  padding: 10px;
  border-radius: 10px 0px;
}
.nav-link {
  text-decoration: none;
  font-weight: 900;
  padding: 10px;
  border-radius: 5px;
  font-size: larger;
  color: white;
}
.active {
  padding-bottom: 5px;
  border-bottom: 5px solid green;
}
.nav-link:hover:not(.active) {
  background-color: rgb(255, 255, 255, 0.1);
}
.logout-button {
  color: white;
  background-color: rgb(100, 100, 230);
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.logout-button:hover {
  color: rgb(100, 100, 230);
  background-color: white;
  box-shadow: 0 0 0 2px rgb(100, 100, 230);
  font-weight: bold;
}

@media (max-width: 768px) {
  .content-container {
    border-radius: 5px;
    padding: 5px;
  }
  .navbar {
    padding: 5px;
  }
  .navbar-brand {
    padding: 3px;
    border-radius: 3px 0px;
  }
  .nav-link {
    font-weight: 800;
    font-size: large;
  }
  .logout-button {
    padding: 5px;
  }
  .logout-button:hover {
    box-shadow: 0 0 0 1px rgb(100, 100, 230);
  }
}
