body {
  margin: 0;
}
.container {
  background-color: rgb(200, 200, 230);
  min-height: 100vh;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 5px;
  }
}

button:active{
  background:blue ;
}
